*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
    background-size: cover;
}
.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 640px;
    width: 750px;
    transform: translate(-50%, -50%);
    /* transform-style: preserve-3d;
    perspective: 600px; */
    transition: .5s;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
    border-radius: 16px;
    overflow: hidden;
     box-shadow: 0 5px 18px rgba(0, 0, 0, 0.4); 
    cursor: pointer;
    
   
   
}
.header img
{
    width: 30px;
    height: 30px;
    margin-top: 7px;
    margin-right: 10px;
}

.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
   
}
.header h2
{
    font-size: 30px;
}
.header span
{
    color: crimson;
}
.form-detail
{
    margin-left: 100px;
}
.container input
{
    border: 0;
    background: none;
    width: 500px;
    padding: 10px 60px ;
    outline: none;
    border: 1px solid #03a9f4;
    border-radius: 10px;
    color: crimson;
    margin-top: 10px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
     
}
.container input[type="text"]:focus,.container input[type="password"]:focus
      {
         border: 1px solid crimson;
          color: crimson;
      }
#book-form
{
    margin-top: 40px;
}
.submit-btn button
{
    position: relative;
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 10px;
    outline: 0;
    background: crimson;
    letter-spacing: 3px;
    border: 1px solid #ec1840;
    color: #fff;
   
    transition: all 0.5s;
}
.container:hover .submit-btn button
      {
        border-radius: 10px;
        background: #03a9f4;
        color:white;
        border: none;
      }

    .table
    {   width: 100%;
        margin-left: 10px; 
        align-items: center;
        justify-content: space-between;
        color: #ec1840;
        

    }
    #confarmDetail
    {
        color: black;
    }
    